name: Test and Demo
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        crystal_version: [1.17, 1.18, latest]
        experimental:
          - false
        include:
          - crystal_version: nightly
            experimental: true

    name: Build
    runs-on: ubuntu-latest

    container:
      image: crystallang/crystal:latest

    continue-on-error: ${{ matrix.experimental }}
    services:
      redis:
        image: redis

    env:
      REDIS_URL: redis://redis:6379/1

    steps:
    - uses: actions/checkout@v4
    - run: apt-get update
    - uses: crystal-lang/install-crystal@v1
      with:
        crystal: ${{matrix.crystal_version}}
    - run: printenv
    - run: crystal --version
    - run: shards install
    - run: make test
    - run: make demo
